body{
background: #ccc;
margin:4;
margin-bottom:0;
owerflow:hidden;
}

.containter{
width:75% auto auto;
background: #fff;
height:auto auto;
border:1px solid #999
}

.cizgi{
height:3px;
background: url(cizgi.png) repeat;
}

.ustmenu{
background: #f1c40f;
width: auto;
height: 40px;
border:1px solid #ccc;
}

.ustmenu1{
float:left;
background: #eee;
width: 33%;
height: 40px;
border-top-right-radius: 3em;
line-height: 40px;
font-family: Titillium Web;
}


.ustmenu2{
float:right;
background: #eee;
width: 33%;
height: 40px;
line-height: 37px;
border-top-left-radius: 3em;
font-family: Titillium Web;
}

.arabuton{
width: 25px;
height:25px;
background:#f1f1f1;
background: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
border-radius: 50%;
border:1px solid #b5b5b5;
margin-left: 33px;
text-align: center;
color:#888;
padding: 2px;
font-size:12px;
display: inline-block;
vertical-align: middle;
}

.arabuton .fa{
line-height:25px;
}




.sbx-twitter {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 30px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 12px;
}

.sbx-twitter__wrapper {
  width: 100%;
  height: 100%;
}

.sbx-twitter__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 17px;
  box-shadow: inset 0 0 0 1px #E1E8ED;
  background: #F5F8FA;
  padding: 0;
  padding-right: 52px;
  padding-left: 16px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sbx-twitter__input::-webkit-search-decoration, .sbx-twitter__input::-webkit-search-cancel-button, .sbx-twitter__input::-webkit-search-results-button, .sbx-twitter__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-twitter__input:hover {
  box-shadow: inset 0 0 0 1px #c1d0da;
}

.sbx-twitter__input:focus, .sbx-twitter__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #D6DEE3;
  background: #FFFFFF;
}

.sbx-twitter__input::-webkit-input-placeholder {
  color: #9AAEB5;
}

.sbx-twitter__input::-moz-placeholder {
  color: #9AAEB5;
}

.sbx-twitter__input:-ms-input-placeholder {
  color: #9AAEB5;
}

.sbx-twitter__input::placeholder {
  color: #9AAEB5;
}

.sbx-twitter__submit {
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 16px 16px 0;
  background-color: rgba(62, 130, 247, 0);
  padding: 0;
  width: 33px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sbx-twitter__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.sbx-twitter__submit:hover, .sbx-twitter__submit:active {
  cursor: pointer;
}

.sbx-twitter__submit:focus {
  outline: 0;
}

.sbx-twitter__submit svg {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  fill: #657580;
}

.sbx-twitter__reset {
  display: none;
  position: absolute;
  top: 7px;
  right: 16px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.sbx-twitter__reset:focus {
  outline: 0;
}

.sbx-twitter__reset svg {
  display: block;
  margin: 4px;
  width: 11px;
  height: 11px;
}

.sbx-twitter__input:valid ~ .sbx-twitter__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}






.logo{
margin-left: 15px;
margin-top: 5px;
margin-right:0px;
transition:ease .5s;
position: relative;
float:left;
}

.logo:hover{
margin-left:25px;
transition:ease .6s;
opacity: .8;
}

.reklam{
margin-top:10px;
margin-right: 2%;
float:right;
position: relative;
}

.menus{
display:inline-block;
float:left;
}

.header{
background: none;
height:90px;
}

.menu{
font-family:Titillium Web;
width: 100%;
height:45px;
font-size:15px;
background-image: -moz-linear-gradient( 90deg, rgb(106,3,4) 0%, rgb(162,2,2) 50%, rgb(176,4,4) 50%, rgb(193,9,9) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(106,3,4) 0%, rgb(162,2,2) 50%, rgb(176,4,4) 50%, rgb(193,9,9) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(106,3,4) 0%, rgb(162,2,2) 50%, rgb(176,4,4) 50%, rgb(193,9,9) 100%);
}

.menu a{
color:#fff;
text-decoration: none;
}
.menu li{
padding:11px;
margin:0;
background:rgba(0, 0, 0, 0.10);
display: inline-block;
margin-left:-3px;
transition:.4s;
}

.menu li:hover{
background:rgba(0, 0, 0, 0.30);
transition:.6s;
}

.menu ul{
margin:0;
}

.sondakika{
color:#555;
line-height: 28px;
float:right;
margin-right: 2%;
margin-top: 6px;
width:35%;
height:30px;
background:#efefef;
border-radius:5px;
display:inline-flex;
border:1px solid #777;
}

#baslik{
display: inline-block;
color:#fff;
padding: 3px;
text-align: center;
width: 17%;
font-size: 13px;
background: #c0392b;
cursor:default;
border-right: :10px solid transparent;
line-height: 24px;
}


.songelisme{
margin-left: 3%;
width: 523px;
height: 284px;
background: #efefef;
border:1px solid #bbb;
display:inline-block;
}



.koseyazar{
width: 230px;
height:286px;
background: #cccccc;
background: -moz-linear-gradient(top, #cccccc 0%, #dbdbdb 50%, #e5e5e5 50%, #f5f5f5 100%);
background: -webkit-linear-gradient(top, #cccccc 0%,#dbdbdb 50%,#e5e5e5 50%,#f5f5f5 100%);
background: linear-gradient(to top, #cccccc 0%,#dbdbdb 50%,#e5e5e5 50%,#f5f5f5 100%);
border:1px solid #333;
display: inline-block;
position: absolute;
margin-left:22.8%;
transition: 2s;
}

.koseyazarl{
background:-moz-linear-gradient( 90deg, rgb(106,3,4) 0%, rgb(162,2,2) 50%, rgb(176,4,4) 50%, rgb(193,9,9) 100%);
background:-webkit-linear-gradient( 90deg, rgb(106,3,4) 0%, rgb(162,2,2) 50%, rgb(176,4,4) 50%, rgb(193,9,9) 100%);
background:-ms-linear-gradient( 90deg, rgb(106,3,4) 0%, rgb(162,2,2) 50%, rgb(176,4,4) 50%, rgb(193,9,9) 100%);
list-style: none;
width: auto;
display: inline-block;
padding: 5%;
font-size:22px;
border:1px solid #ddd;
width: calc(33% + 0.9px);
margin-right: -4px;
text-align: center;
font-family: 'Roboto';
transition:.4s;
color:#fff;
}

.koseyazar.clicked{
transition: 2s;
}

.koseyazarl:hover{
opacity: .8;
transition:.6s;
}

.mySlides {
display:none;
}



.yazaresim{
width: 90px;
height: 90px;
border:2px solid grey;
margin:auto;
margin-top:3%;
overflow: hidden;
}

.yazarisim img{
background-position: center center;
}

p.yazarisim{
font-size:20px;
color:#222;
font-family: 'Titillium';
text-align: center;
margin:auto;
font-weight: bold;
border-top:5px solid transparent;

}

p.yazarhak{
font-size:11px;
color:#222;
width: 98%;
font-family: 'Titillium';
text-align: center;
margin: auto;
}



.menuson{
font-family:'Roboto';
width: 100%;
height:37px;
font-size:15px;
background-image: -moz-linear-gradient( 90deg, rgb(106,3,4) 0%, rgb(162,2,2) 50%, rgb(176,4,4) 50%, rgb(193,9,9) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(106,3,4) 0%, rgb(162,2,2) 50%, rgb(176,4,4) 50%, rgb(193,9,9) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(106,3,4) 0%, rgb(162,2,2) 50%, rgb(176,4,4) 50%, rgb(193,9,9) 100%);
}

.menuson a{
color:#fff;
text-decoration: none;
}

.menuson li{
padding:9.2px;
margin:0;
background:rgba(0, 0, 0, 0.10);
display: inline-block;
margin-right:-3.8px;
transition:.4s;
}

.menuson li:hover{
background:rgba(0, 0, 0, 0.30);
transition:.6s;
}

.menuson ul{
margin:0;
}

.menusson{
display:inline-block;
float:left;
}

.icerik{
background:transparent;
width:98%;
margin:auto auto;
margin-top:3%;
}

.baslik{
background:#a60c02;
font-family: Titillium Web;
font-size: 14px;
color:#fff;
margin-left: 3%;
padding:13px;
float:left;
width:12%;
text-align: center;
transition: .5s;
}

.genel:hover .baslik{
background: rgba(166, 12, 2, 0.85);
transition: .5s;
}

.genel:hover .yan{
border-left:38px solid rgba(166, 12, 2, 0.85);
transition: .5s;
}

.yan{
display:inline-block;
border-left:38px solid #a60c02;
border-top:47px solid transparent;
transition: .5s;
}

.baslik a{
color:#fff;
text-decoration: none;
}

.sol{
margin-left:3%;
}



.galerigovde{
background-image: -moz-linear-gradient( 90deg, rgb(106,3,4) 0%, rgb(162,2,2) 50%, rgb(176,4,4) 50%, rgb(193,9,9) 100%);
background-image: -webkit-linear-gradient( 90deg, rgb(106,3,4) 0%, rgb(162,2,2) 50%, rgb(176,4,4) 50%, rgb(193,9,9) 100%);
background-image: -ms-linear-gradient( 90deg, rgb(106,3,4) 0%, rgb(162,2,2) 50%, rgb(176,4,4) 50%, rgb(193,9,9) 100%);
width: 92%;
height: 160px;
border:1px solid #888;
margin:auto auto;
display: table;
text-align: center;
border-radius: 5px;
}


.galeri{
vertical-align: middle;
display: table-cell;
}

.galeri img{
margin-left: 2%;
margin-right: 2%;
margin-top: 1%;
}


.gicon{
width:80px;
height:45px;
background:#efefef;
background:linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
text-align: center;
border:1px solid #ccc;
position: absolute;
left: calc(47% - 10px);
display: table;
font-size:25px;
margin-top:-1.8%;
border-radius: 8%;
color:#a60c02;
}

.gicon .fa{
display: table-cell;
vertical-align: middle;
}



.referanslar {
margin:2%;
text-align: center;
}


.referans li {
list-style-type: none;
width:200px;
height:100px;
line-height:100px;
border:1px solid rgba(102,102,102,0.4);
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
background:url(galeri.png) no-repeat;
background-size:100% 100%;
background-position:center;
overflow:hidden;
transition:all .2s;
text-align: center;
}

.referans{
display:inline-block;
margin-top:5px;
margin-left:2%;
margin-right:2%;
text-align: center;
}

.refyazi {
font-family:'Ubuntu';
text-shadow: 0px 0px 0px rgba(0,0,0,0.0);
color:#fff;
transition:all .3s;
font-size:1px;
opacity: 0;
}

.refyazi:hover {
-webkit-filter: brightness(9);
text-shadow: 0px 1px 4px rgba(0,0,0,0.8);
color:#fff;
font-family:'Ubuntu';
font-size:15px;
opacity: 1;
transition:all .3s;
}

.referans li:hover {
-webkit-filter: brightness(0.95);
opacity:1;
transition:all .3s;
}




















#templatemo_menu_wrapper{
clear:both;
width:100%;
margin:0 auto;
background:url(http://st.10tl.net/tema/novruz/diamond/footer_bg.png) center;
}


#templatemo_menu{
width:980px;
height:41px;
margin:0 auto;
}

#templatemo_menu ul{
margin:0 0 0 28px;
padding:0px;
list-style:none
}

#templatemo_menu ul li{
padding:0px;
margin:0px;
display:inline
}


#templatemo_menu ul li a{
float:left;
display:block;
height:22px;
width:128px;
padding:13px 0 0 0;
background:url(http://aslanbey.com.nu/resim/footer/templatemo_menu.jpg) bottom no-repeat;
text-align:center;
font-size:14px;
text-decoration:none;
color:#FFF;
font-weight:bold;
outline:none;
}


#templatemo_menu li a:hover,
#templatemo_menu li .current{
color:#000;
background:url(http://aslanbey.com.nu/resim/footer/templatemo_menu_hover.jpg) bottom no-repeat;
}


#templatemo_footer_wrapper{
background:#a7372b;
border-top:2px solid #828282;
border-bottom:3px solid #828282;
/* width:100%; */
}

#templatemo_footer{
/* padding:25px; */
/* height:140px; */
margin-top: 1%;
/* margin:0 auto;*/
justify-content:space-around;
color:#515251;
display:flex;
}


.section_w180{
float:left;
width: 180px;
/* padding: 0px 0px 0px 20px; */
/* margin-right: 5%; */
/* margin-left: 5%; */
}

.section_w180_content{
/*padding: 3px 0 0 15px;*/
font-family:'Titillium Web';
box-shadow: inset rgba(0,0,0,0.25) 0 1px 3px, rgba(82,82,82,0.1) 0 0 0 1px, rgba(255,255,255,0.2) 0 1px 0 0px;
/*height:130px;*/
/*line-height: 18px;*/
}

.section_w180_contents{
padding:25px 0 0 5px;
text-align:center;
border:1px solid #97A0A1;
background:linear-gradient(to bottom,#f1f1f1 0%,#e5e5e5 100%);box-shadow:inset rgba(0,0,0,0.25) 0 1px 3px,rgba(82,82,82,0.1) 0 0 0 1px,rgba(255,255,255,0.2) 0 1px 0;
height:100px;
}

#templatemo_footer  .footer_menu_list{
margin:0px;
padding:0px;
list-style:none;
}

#templatemo_footer .footer_menu_list li{
background: rgba(0,0,0,0.20);
/*margin:0 0 5px 0;*/
padding:0px;
}

#templatemo_footer .footer_menu_list a:hover{
margin-left:7%;
transition: .2s ease-out;
}

#templatemo_footer .footer_menu_list li a{
color: #fff;
font-weight:normal;
text-decoration:none;
font-size:13px;
margin-left: 4%;
transition: .2s ease-out;
}

.header_05{
clear:both;
font-size:14px;
font-family: 'Titillium Web';
font-weight:bold;
color:#ebebeb;
border:1px solid #fff;
text-align:center;
height:24px;
/*padding:3px 0 0 0; 0;*/box-shadow:inset rgba(0,0,0,0.25) 0 1px 3px,rgba(82,82,82,0.1) 0 0 0 1px,rgba(255,255,255,0.2) 0 1px 0;text-shadow:0px 1px 5px rgba(34,34,34,0.75);
margin-bottom:5px;
transition: .3s;
background:rgba(0,0,0,0.15);
/* position:relative; */
}

.header_05:hover{
background:rgba(0,0,0,0.05);
transition: .3s;
}

.header_06{
clear:both;
font-size:14px;
font-weight:bold;
color:#fff
;text-align:center;
height:24px;
padding:3px 0 0 0;
margin-bottom:5px;
background:#858585;
}

.section_w181{
float:left;
padding:0 20px 0 0;
}

#facebook{
background:#f0f0f0;
border:1px dashed #999;
width:35px;
height:35px;
color;#666;
display:table;
}

#facebook p{
display:table-cell;
vertical-align:middle;
}

.footeralt{
height:20px;
padding:8px;
background:rgba(0,0,0,0.15);
color:#ebebeb;
font-family:'Titillium Web';
font-weight:500;
font-size:16px;
text-shadow:0px 1px rgba(85,85,85,0.51);
border-top:2px outset rgba(255,255,255,0.8);
margin-top:5px;
line-height:25px;
}

p.fyazi{
float:left;
}

.footeralt a{
color:#ebebeb;
text-decoration: none;
}

.footeralt a:link{
color:#ebebeb;
text-decoration: none;
}


.footeryazi{
color:#ebebeb;
font-size:20px;
font-weight:600;
font-family:'Titillium Web';
}

.footeryazi2{
color:#ebebeb;
font-size:13px;
font-weight:600;
font-family:'Titillium Web';
margin-top:-35px;
}

.list-unstyled{
padding-left:0;
list-style:none;
}

.list-inline li{
display:inline-block;
padding-right:5px;
padding-left:5px;
margin-bottom:10px;
}

.social-icons .fa{
font-size:1.8em;
}

.social-icons .fa{
width:40px;
height:40px;
line-height:40px;
text-align:center;
color:#FFF;
color:rgba(255,255,255,0.9);
-webkit-transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-ms-transition:all 0.3s ease-in-out;
-o-transition:all 0.3s ease-in-out;
transition:all 0.3s ease-in-out;
font-size:20px;
}

.social-icons.icon-circle .fa{
border-radius:50%;
margin-right:-10px;
}

.social-icons.icon-rounded .fa{
border-radius:5px;
}

.social-icons.icon-flat .fa{
border-radius:0;
}

.social-icons .fa:hover,.social-icons .fa:active{
color:#FFF;
-webkit-box-shadow:0px 1px 4px rgba(85,85,85,0.8);
-moz-box-shadow:0px 1px 4px rgba(85,85,85,0.8);
box-shadow:0px 1px 4px rgba(85,85,85,0.8)
}

.social-icons.icon-zoom .fa:hover,.social-icons.icon-zoom .fa:active{
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);
transform:scale(1.1)
}

.social-icons.icon-rotate .fa:hover,.social-icons.icon-rotate .fa:active{
-webkit-transform:scale(1.1) rotate(360deg);
-moz-transform:scale(1.1) rotate(360deg);
-ms-transform:scale(1.1) rotate(360deg);
-o-transform:scale(1.1) rotate(360deg);
transform:scale(1.1) rotate(360deg)}

.social-icons .fa-facebook,.social-icons .fa-facebook-square{
background-color:#3C599F;
opacity:0.8;
}

.social-icons .fa-facebook:hover,.social-icons .fa-facebook-square{
opacity:1;
}

.social-icons .fa-rss,.social-icons .fa-rss-square{
background-color:#f6a42b;
opacity:0.8;
}

.social-icons .fa-rss:hover,.social-icons .fa-rss-square{
opacity:1;
}

.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{
background-color:#CF3D2E;
opacity:0.8;
}

.social-icons .fa-google-plus:hover,.social-icons .fa-google-plus-square{
opacity:1;
}

.social-icons .fa-twitter,.social-icons .fa-twitter-square{
background-color:#32CCFE;
opacity:0.8;
}

.social-icons .fa-twitter:hover,.social-icons .fa-twitter-square{
opacity:1;
}















#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#3498db; /* sayfa y�klenirken g�sterilen arkaplan rengimiz */
    z-index:99; /* efektin arkada kalmad���ndan emin oluyoruz */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url(220.svg); /* buras� yaz�n�n ilk ba��nda bahsetti�imiz animasyonu �a��r�r */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px   -100px;
}
